@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}
@theme {
  --animate-shine: shine 5s linear infinite;
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}
